<nav class="navbar navbar-expand-lg align-items-lg-center container-p-x" [ngClass]="currentBg()">
  <!-- Brand -->
  <a routerLink="/principal" class="navbar-brand app-brand demo d-lg-none py-0 mr-4">
    <span class="app-brand-logo"></span>    
  </a>
  
  <!-- Navbar toggle -->
  <button class="navbar-toggler" type="button" (click)="isExpanded = !isExpanded" [hidden]="appService.isMobile">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" [ngbCollapse]="!isExpanded" [hidden]="appService.isMobile">
    <!-- Divider -->
    <hr class="d-lg-none w-100 my-2">

    <div class="navbar-nav align-items-lg-center">
      <!-- Search -->
      <label class="nav-item navbar-text navbar-search-box p-0 active text-white">
        <i class="fas fa-calendar navbar-icon align-middle"></i>
        <span class="media-body d-block ml-3">          
          <span class="text-big font-weight-bolder">Ações Pendentes</span>   
          <br>
          
        </span>
      </label>
    </div>

    <div class="navbar-nav align-items-lg-center ml-auto">
      
      <!-- Divider -->
      <div class="nav-item d-none d-lg-block text-big font-weight-light line-height-1 opacity-25 mr-3 ml-1">|</div>

      <div ngbDropdown [placement]="isRTL ? 'bottom-left' : 'bottom-right'" class="demo-navbar-user nav-item">
        <a ngbDropdownToggle class="nav-link" href="javascript:void(0)">
          <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
            <img src="assets/img/avatars/avatar.jpg" alt class="d-block ui-w-30 rounded-circle">
            <span class="px-1 mr-lg-2 ml-2 ml-lg-0"></span>
          </span>
        </a>                  
      </div>
    </div>
  </div>
</nav>
